@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4" ;style="font-size: 30px;" ;style="font-size: 30px;"><b>Bienvenidos a EcuniShop</b></h1>
    <br></br>
    <p style="font-size: 20px;">Una pagina web que te permite realizar publicaciones y compras de productos y servicios especificamente para universitarios ecuatorianos.</p>
    <br></br>
    <img src="NewFolder1/EcuniShop.jpeg" alt="Logo de la empresa" width="425" height="425"></img>
</div>
