@{
    ViewData["Title"] = "Mas Informacion";
}
<h1>@ViewData["Title"]</h1>
<br></br>
<table class="table">
    <tbody>
        <tr class="table-primary">
            <th scope="row">*</th>
            <td><p><b>Autores Del Proyecto: Jossue Ayala y Jorge Negrete</b></p></td>
        </tr>
        <tr class="table-primary">
            <th scope="row">*</th>
            <td><p><b>Materia: Programacion 4</b></p></td>
        </tr>
        <tr class="table-primary">
            <th scope="row">*</th>
            <td><p><b>Primera Entrega Del Proyecto</b></p></td>
        </tr>
    </tbody>
</table>

