@{
    ViewData["Title"] = "Mas Informacion";
}
<h1>@ViewData["Title"]</h1>
<br></br>
<p><b>Autores Del Proyecto: Jossue Ayala y Jorge Negrete</b></p>
<br></br>
<p><b>Materia: Programacion 4</b></p>
<br></br>
<p><b>Primera Entrega Del Proyecto</b></p>

